// @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');





html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  font-family: 'Montserrat Alternates', sans-serif;

  // font-family: "Montserrat", sans-serif;
  text-align: center;
  display: flex;


  svg {
    height: 100%;
  }
}

.spacer {
  height: 100%;
}

.bubble-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;
    

    li {
      cursor: pointer;
      padding: 6px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(158, 7, 7);
}

.color-box {
  height: 16px;
  width: 16px;
  border: solid 1px lightgrey;
  margin-right: 36px;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  legend {
    padding-left: 40px;
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color:  rgb(5, 63, 133);
    margin-bottom: 16px;
  }

  label {
    display: flex;
    justify-content: space-between;
    padding: 4px 36px 4px 40px;
  }

  input {
    width: 100px;
    border: dotted 2px rgb(5, 63, 133);
    font-size: 0.8rem;
  }
}

.button-row {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 41px;

  button {
    border: dotted 4px rgb(199, 164, 233);
    background-color: rgb(5, 63, 133);
    color: rgb(230, 230, 106);
    font-size: 1rem;
    font-weight: bold;
    padding: 3px 8px;
    margin-top: 16px;
  }
}
